@{
    ViewData["Title"] = "Unități medicale";

}

<div class="map-container">
    <div id="map"></div>
</div>
@section Scripts {
    <style>

        html, body {
            display: -ms-flexbox !important;
            display: flex;
            min-height: 100vh;
            -ms-flex-direction: column;
            flex-direction: column;
        }

        body {
            margin: 0;
        }

        .fullscreen, main {
            display: -ms-flexbox !important;
            display: flex;
            -ms-flex-direction: column;
            flex-direction: column;
        }

        main {
            flex-grow: 1;
            padding: 0 !important;
        }

        .fullscreen {
            flex-grow: 1;
        }

        .map-container {
            display: -ms-flexbox !important;
            display: flex;
            -ms-flex-direction: column;
            flex-direction: column;
            flex-grow: 1;
            position: relative;
        }

        #map {
            position: absolute;
            left: 0;
            width: 100%;
            height: 100%;
        }

        footer {
            position: relative !important;
            bottom: auto !important;
        }

        .legend {
            line-height: 18px;
            color: #555;
            background-color: rgba(255,255,255,0.8);
            padding: 10px;
        }

            .legend i {
                width: 18px;
                height: 18px;
                float: left;
                margin-right: 15px;
                opacity: 0.7;
            }
            .legend img {
                padding: 5px;
            }
    </style>
    <!-- Load Leaflet from CDN -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
          integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
          crossorigin="" />
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
            integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
            crossorigin=""></script>

    <!-- Load Esri Leaflet from CDN -->
    <script src="https://unpkg.com/esri-leaflet@2.5.1/dist/esri-leaflet.js"
            integrity="sha512-q7X96AASUF0hol5Ih7AeZpRF6smJS55lcvy+GLWzJfZN+31/BQ8cgNx2FGF+IQSA4z2jHwB20vml+drmooqzzQ=="
            crossorigin=""></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet-ajax/2.1.0/leaflet.ajax.min.js"
            integrity="sha512-Abr21JO2YqcJ03XGZRPuZSWKBhJpUAR6+2wH5zBeO4wAw4oksr8PRdF+BKIRsxvCdq+Mv4670rZ+dLnIyabbGw=="
            crossorigin="anonymous"></script>

    <script>
        var map = L.map('map').setView([45.8, 25], 7);

        var bm_imagery = L.esri.basemapLayer('ImageryFirefly');
        bm_imagery.addTo(map);
        var bm_streets = L.esri.basemapLayer('Streets');
        bm_streets.addTo(map);
        var bm_gray = L.esri.basemapLayer('Gray');
        bm_gray.addTo(map);
        var bm_topographic = L.esri.basemapLayer('Topographic');
        bm_topographic.addTo(map);

        function getColor(d) {
            if (d === null || d === undefined) {
                d = 0;
            }
            return d > 150 ? '#800026' :
                d > 125 ? '#BD0026' :
                    d > 100 ? '#E31A1C' :
                        d > 75 ? '#FC4E2A' :
                            d > 50 ? '#FD8D3C' :
                                d > 25 ? '#FEB24C' :
                                    d > 10 ? '#FED976' :
                                        '#FFEDA0';
        }
        function getIconUrl(icon) {
            return icon === "DSP" ? "images/marker-icon-yellow.png" :
                icon === "TESTARE_COVID" ? "images/marker-icon-violet.png" :
                    icon === "SUPORT_COVID" ? "images/marker-icon-blue.png" :
                        icon === "SUPORT_COVID_MATERNITATE" ? "images/marker-icon-gold.png" :
                            icon === "SPITAL_FAZA_1" ? "images/marker-icon-orange.png" :
                                icon === "SPITAL_FAZA_2" ? "images/marker-icon-red.png" :
                                    icon === "SUPORT_COVID_DIALIZA" ? "images/marker-icon-green.png" :
                            "images/marker-icon-grey.png";
        }
        function style_asppic19(feature) {
            return {
                fillColor: getColor(feature.properties['last_day']),
                weight: 2,
                opacity: 1,
                color: 'white',
                dashArray: '3',
                fillOpacity: 0.7
            };
        };
        var counties_stats = new L.GeoJSON.AJAX("../geojsonfiles/judete_stats.geojson", { style: style_asppic19 });
        counties_stats.addTo(map);

        counties_stats.bindPopup(function (layer) {
            return L.Util.template(`<h5><strong>Județul {county}</strong></h5>  
            <hr />
            <p>Nr de cazuri noi inregistrate de la data <strong>{date_ref}</strong></p>
            <ul>
                <li><strong>Ultimele 24 de ore: </strong>{last_day}</li>
                <li><strong>Ultimele 7 zile: </strong>{last_week}</li>
                <li><strong>Ultimele 30 zile: </strong>{last_month}</li>
            </ul>`, layer.feature.properties);
        });
        function styleHospitals(feature, latlng) {
            return new L.Marker(latlng, {
                icon: L.icon({
                    iconUrl: getIconUrl(feature.properties['Category']),
                    shadowUrl: 'images/marker-shadow.png',
                    iconSize: [25, 41],
                    iconAnchor: [12, 41],
                    popupAnchor: [1, -34],
                    shadowSize: [41, 41]
                })
            });
        }
        var hospitals = new L.GeoJSON.AJAX("../geojsonfiles/spitale.geojson", { pointToLayer: styleHospitals })
        hospitals.addTo(map);

        hospitals.bindPopup(function (layer) {
            return L.Util.template(`<h5><strong>{HospitalName}</strong> ({Abbreviation}) </h5>                
                <hr />
                <p><strong>Categorie: </strong>{Category}</p>
                <p><strong>Adresa: </strong>{Address}, {Uat}, {County}</p>
                <p><strong>Telefon: </strong>{Phone}</p>
                <p><strong>E-mail: </strong>{Email}</p>
                <p><strong>Website: </strong><a href="{FullLink}" target="_blank">{FullLink}</a></p>
                <p><strong>Indicații de orientare: </strong><a href="{GpsRoute}" target="_blank">Google Maps</a></p>
                <hr />
                <p><strong>Informații suplimentare: </strong><i>{AdditionalData}</i></p>`, layer.feature.properties);
        });

        var legend = L.control({ position: 'bottomright' });

        legend.onAdd = function (map) {

            var div = L.DomUtil.create('div', 'info legend')
            grades = [10, 25, 50, 75, 100, 125, 150,
                "Direcție de Sănătate Publică",
                "Centru de Testare COVID",
                "Unitate medicală suport COVID",
                "Maternitate suport COVID",
                "Unitate medicală dedicată COVID - faza 1",
                "Unitate medicală dedicată COVID - faza 2",
                "Centru de dializă suport COVID",
                "Unitate medicală NON - COVID"],
                labels = [];
            div.innerHTML += '<div class=""'
            // loop through our density intervals and generate a label with a colored square for each interval
            for (var i = 0; i < grades.length; i++) {
                if (parseInt(grades[i])) {
                    if (parseInt(grades[i + 1]))
                    {
                        div.innerHTML +=
                            '<i style="background:' + getColor(grades[i] + 1) + '"></i> ' +
                            grades[i] + (grades[i + 1] ? '&ndash;' + grades[i + 1] + '<br>' : '+');
                    }
                    else
                    {
                        div.innerHTML +=
                            '<i style="background:' + getColor(grades[i] + 1) + '"></i> ' + '>' + grades[i] + '<br><hr />';
                    }
                }
                else {
                    if (grades[i] === "Direcție de Sănătate Publică")
                        div.innerHTML += '<img src="images/marker-icon-yellow.png"/> ' + grades[i] + '<br>';
                    else if (grades[i] === "Centru de Testare COVID")
                        div.innerHTML += '<img src="images/marker-icon-violet.png"/> ' + grades[i] + '<br>';
                    else if (grades[i] === "Unitate medicală suport COVID")
                        div.innerHTML += '<img src="images/marker-icon-blue.png"/> ' + grades[i] + '<br>';
                    else if (grades[i] === "Maternitate suport COVID")
                        div.innerHTML += '<img src="images/marker-icon-gold.png"/> ' + grades[i] + '<br>';
                    else if (grades[i] === "Unitate medicală dedicată COVID - faza 1")
                        div.innerHTML += '<img src="images/marker-icon-orange.png"/> ' + grades[i] + '<br>';
                    else if (grades[i] === "Unitate medicală dedicată COVID - faza 2")
                        div.innerHTML += '<img src="images/marker-icon-red.png"/> ' + grades[i] + '<br>';
                    else if (grades[i] === "Centru de dializă suport COVID")
                        div.innerHTML += '<img src="images/marker-icon-green.png"/> ' + grades[i] + '<br>';                    
                    else
                        div.innerHTML += '<img src="images/marker-icon-grey.png"/> ' + grades[i] + '<br>';
                }
            }

            return div;
        };

        legend.addTo(map);

        var baseMaps = {
            "Imagini satelitare": bm_imagery,
            "Strazi": bm_streets,
            "Tonuri de gri": bm_gray,
            "Topografic": bm_topographic
        };

        var overlayMaps = {
            "Judete (nr cazuri)": counties_stats,
            "Spitale": hospitals
        };
        L.control.layers(baseMaps, overlayMaps).addTo(map);


        map.attributionControl.addAttribution('Set de date &copy; <a href="">De adaugat</a>');

    </script>
}

