@{
    ViewData["Title"] = "Unități medicale";

}

<div class="map-container">
    <div id="map"></div>
</div>
@section Scripts {
    <style>

        html, body {
            display: -ms-flexbox !important;
            display: flex;
            min-height: 100vh;
            -ms-flex-direction: column;
            flex-direction: column;
        }

        body {
            margin: 0;
        }

        .fullscreen, main {
            display: -ms-flexbox !important;
            display: flex;
            -ms-flex-direction: column;
            flex-direction: column;
        }

        main {
            flex-grow: 1;
            padding: 0 !important;
        }

        .fullscreen {
            flex-grow: 1;
        }

        .map-container {
            display: -ms-flexbox !important;
            display: flex;
            -ms-flex-direction: column;
            flex-direction: column;
            flex-grow: 1;
            position: relative;
        }

        #map {
            position: absolute;
            left: 0;
            width: 100%;
            height: 100%;
        }

        footer {
            position: relative !important;
            bottom: auto !important;
        }

    </style>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"></script>
    <script>
        $(document).ready(function () {

            var map = L.map('map', {
                'center': [45.7, 26.10626],
                'zoom': 7
            });

            L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                maxZoom: 19,
                attribution: '&copy; ASPPIC-19'
            }).addTo(map);
        })
    </script>
}

