<div class="text-center mb-3 d-xl-none">
    <button class="btn btn-outline-primary" type="button" data-toggle="collapse" data-target="#collapseLegend" aria-controls="collapseLegend">Legendă</button>
</div>
<div class="sidebar collapse" id="collapseLegend">
    <ul class="list-group">
        <li class="list-group-item">
            <h5 class="text-muted text-center">LEGENDĂ</h5>
        </li>
        <li class="list-group-item">
            <input type="checkbox" value="DSP" checked/>
            <img class="legendMarker" src='https://raw.githubusercontent.com/pointhi/leaflet-color-markers/master/img/marker-icon-yellow.png' />
            Direcție de Sănătate Publică
        </li>
        <li class="list-group-item">
            @*<input type="checkbox" value="TESTARE_COVID" checked/>*@
            <img class="legendMarker" src='https://raw.githubusercontent.com/pointhi/leaflet-color-markers/master/img/marker-icon-violet.png' />
            Centru de Testare COVID
        </li>
        <li class="list-group-item">
            @*<input type="checkbox" value="SUPORT_COVID" checked />*@
            <img class="legendMarker" src='https://raw.githubusercontent.com/pointhi/leaflet-color-markers/master/img/marker-icon-blue.png' />
            Unitate medicală suport COVID
        </li>
        <li class="list-group-item">
            @*<input type="checkbox" value="SUPORT_COVID_MATERNITATE" checked/>*@
            <img class="legendMarker" src='https://raw.githubusercontent.com/pointhi/leaflet-color-markers/master/img/marker-icon-gold.png' />
            Maternitate suport COVID
        </li>
        <li class="list-group-item">
            @*<input type="checkbox" value="SPITAL_FAZA_1" checked/>*@
            <img class="legendMarker" src='https://raw.githubusercontent.com/pointhi/leaflet-color-markers/master/img/marker-icon-orange.png' />
            Unitate medicală dedicată COVID - faza 1
        </li>
        <li class="list-group-item">
            @*<input type="checkbox" value="SPITAL_FAZA_2" checked/>*@
            <img class="legendMarker" src='https://raw.githubusercontent.com/pointhi/leaflet-color-markers/master/img/marker-icon-red.png' />
            Unitate medicală dedicată COVID - faza 2
        </li>
        <li class="list-group-item">
            @*<input type="checkbox" value="SUPORT_COVID_DIALIZA" checked />*@
            <img class="legendMarker" src='https://raw.githubusercontent.com/pointhi/leaflet-color-markers/master/img/marker-icon-green.png' />
            Centru de dializă suport COVID
        </li>
        <li class="list-group-item">
            @*<input type="checkbox" value="NON-COVID" checked/>*@
            <img class="legendMarker" src='https://raw.githubusercontent.com/pointhi/leaflet-color-markers/master/img/marker-icon-grey.png' />
            Unitate medicală NON-COVID
        </li>
    </ul>
</div>

